@font-face {
  font-family: Poppins-bold;
  src: url(assets/Font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(assets/Font/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-semi-bold;
  src: url(assets/Font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-italic;
  src: url(assets/Font/Poppins/Poppins-Italic.ttf);
}

@font-face {
  font-family: Poppins-extra-bold;
  src: url(assets/Font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: siga;
  src: url(assets/Font/Signika/OFL.txt);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5{
  font-family: siga;
  font-weight: bold;
}

ul{
  margin: 0;
  padding: 0;
}